/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  box-sizing: border-box;
}
 body {
  margin: 0;
  padding: 80px 0 30px;
  font-family: 'M PLUS 1p', sans-serif;
  background-color: #f1f1f1;
 }
 main {
   width: 90%;
   margin: 0 auto;
 }
 header {
  width: 100%;
  padding: 10px 4% 10px;
  background-color: #fff;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
}
a {	
  text-decoration: none;
  color: #4b4b4b;
}
ul {
  list-style: none;
  margin: 0;
  display: flex;
}
li {
  margin: 0 0 0 15px;
  font-size: 14px;
}
nav {
  margin: 0 0 0 auto;
}

 .date {
    width: 150px;
}
 .money {
     width: 80px;
     text-align: right;
 }
 .content {
     width: 200px;
     text-align: center;
 }
 .comment {
     width: 300px;
     text-align: left;
}
 table{
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  table th,table td{
    padding: auto 10px;
    text-align: center;
  }
  
  table tr:nth-child(odd){
    background-color: rgb(247, 247, 247);
  }

  table th{
    background-color: rgb(65, 73, 102);
    color: rgb(247, 247, 247);
    text-align: center;
  }

  .graph_contain {
    display: flex;
    width: 100%;
    margin-top: 30px;
  }